<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ecstasoy.rpc.blog.mapper.BlogMapper">

    <resultMap id="BlogResultMap" type="io.ecstasoy.rpc.api.entity.BlogEntity">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="authorId" column="author_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" parameterType="io.ecstasoy.rpc.api.entity.BlogEntity">
        INSERT INTO blogs (id, title, content, author_id, create_time, update_time)
        VALUES (#{id}, #{title}, #{content}, #{authorId}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectById" resultMap="BlogResultMap">
        SELECT * FROM blogs WHERE id = #{id}
    </select>

    <update id="update" parameterType="io.ecstasoy.rpc.api.entity.BlogEntity">
        UPDATE blogs
        SET title = #{title},
            content = #{content},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM blogs WHERE id = #{id}
    </delete>

    <select id="selectAll" resultMap="BlogResultMap">
        SELECT * FROM blogs
    </select>
</mapper>